 <section>
        <div align="center">
            <div>
                <h1><u>
				IT Solutions</u></h1>
            </div>
        </div><!--/.container-->
    </section><!--/#main-banner--> 
    <br /><br />
	       <div class="row">
                    
					
                    
                    <div align="middle">
                    
                    <h2>Networking Switching</h2>
                    <img src="assets/img/network.jpg" class="ResponsivImg" style="max-width:500px;" alt=""><br /><br />
                    	<h4>Our solutions primarily comprise of two types of Switches, namely</h4>
                        <p>Modular Switches
Modular network switches provide simplified operations, media flexibility, and expandability to extend deployment life and minimize ownership costs. These switches provide integrated security, high availability, strong support for converged applications and excellent long-term investment protection</p>
					<p>Fixed configuration switches provide Ethernet switching solutions for a variety of applications including enterprise branch for offices, campus, midsize companies, small and medium-sized business, to provide access security, sustainability, operations excellence, and enhanced work experience. These switches help in reducing carbon footprint by optimizing power consumption.</p></div><br /> 

                    <div align="middle">
					<h2>Wireless Solutions</h2>
                    <img src="assets/img/wire.jpg" class="ResponsivImg" style="max-width:500px;" alt=""> <br /><br />
                        
                        <p>Wireless networks are an essential and key element for a mobile solution, allows maximizing productive time inside the organization. They also provide the following tangible benefits:<br />
		>Real-time access to users, network resources and application across company offices, campuses and remote places using various devices.<br />
		>Enable Rich enterprise application experiences are becoming available to mobile workers on transportation systems or in restaurants or in cafes as high-speed networks.<br />
		>They are location and device agnostic</p></div><br />
                        
                    <div align="middle">
                    <h2>Structured Cabling</h2>
                    <img src="assets/img/struc.jpg" class="ResponsivImg" style="max-width:500px;" alt=""><br /><br />
                        <p>Structured cabling forms the complete wiring system for transmitting data, video and voice from one location to another. It is the base for information networks and acts as a platform for building the entire information system strategy.</p>
					<p>Structured cabling has become the fundamental element for almost all industries because of they offer many advantages including:<br />
	>Exceptionally high Return on Investment (ROI)<br />
	>Simplified movements, add-ons and changes to the configuration<br />
	>High on Quality & Low on Maintenance Cost.

</p></div><br />
                    
                       
                    	
		   </div>
	  
	<!------ content end Section ------->
		<!-- end Contact Area
		========================================== -->
	