<section class="bg-one about section">
            <!-- section title -->
               <div class="title text-center">
                  <h2 align="center">Services<span class="color"></span> </h2>
                  <div class="border"></div>
               </div><br /><br />
               <!-- /section title -->
</section>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Info Panel title</h5>
    <p class="card-text text-white">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
  </div>
</div>