<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="assets/img/logo.jpg"></a>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a></li>
        <div class="dropdown">
        <li class="nav-item">
         <button class="dropbtn"> <a class="nav-link" routerLink="">Services</a></button></li>
         <div class="dropdown-content">
      <ul>
          <a class="nav-link" routerLink="/webdev">Website Development</a>
          <a class="nav-link" routerLink="/itsolution">IT solutions</a>
          <a class="nav-link" routerLink="/softdev">Software development</a>
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/about">About</a>
          <a class="nav-link" routerLink="/about">About</a>
      </ul>
    </div>
  </div>

        <li class="nav-item">
          <a class="nav-link" routerLink="/team">Our Team</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>



