@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/* Tablet Landscape */
@media screen and (max-width: 900px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 700px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.0em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 100%;
    margin:0.8px;
    padding: ;
}

