.hero {
      background-image: url('/assets/img/ourteam.jpg');
      background-size: cover;
      height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero:before {
  content: '';
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero:body{
  padding:20px;
  background-size: cover;
}

.title{
  color: white;
}