<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
      <h1 class="title">
      	One stop destination for IT Solutions
  </h1>
</div>
    </section>
  <br /><br />


<!--======= Intro ====-->
 <section>
 <div class="row">

      <div align="center">

          <h2><b>Digital Square</b></h2>

      <p>Digital Square is the best website development company in Hubli. With years of experience in Web Designing and , our web developers have worked with various successful startups, medium &amp; large scale enterprises to produce web graphics and interactive interfaces website design in Hubli.</p>

            <p>We strive for your satisfaction and support.</p>
      </div>
</div>
</section>	
<br /><br />	
<!--end intro-->
<!--
		Start About Section
		==================================== -->
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" align="center">Our Mission</h5>
      <p class="card-text">Our Mission is to enhance the wealth generating capability of the enterprise in a globalizing environment by exhibiting our efficiency and adopting the innovative methodology in our work</p>
     </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" align="center">Our Strength</h5>
      <p class="card-text">We understand the importance of right technology and this puts required efforts to ensure functional software development that covers client's requirment.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" align="center">Our Vision</h5>
      <p class="card-text">Our Vision is to make our self as India’s most valuable corporation through ultimate performance and uniqueness in every single project that we do</p>
      </div>
  </div>
</div>	
<br /><br />
<!--
Featured services
==================================== -->
<!-- Section: Features v.3 -->
<!-- Section: Features v.4 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Featured Services</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">We provide solutions for business by creative design, scalable development and interactive digital engagement. Our design team helps you in translating your services and products into powerful business</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-flag-checkered deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
        <div class="img">
        </div>
  <h5 class="font-weight-bold mb-3">Web development</h5>
          <p class="grey-text">We, create awesome websites which are rich in features as well as keeping the simplicity of your requirement in our mind.</p>
          <a button="click" routerLink="/webdev"> View more</a>
        </div>
        <!-- Grid column -->
        

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-flask deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Software Development</h5>
          <p class="grey-text">Custom software development is a premier web business solutions in building various domain specific websites.</p>
          <a button="click" routerLink="/softdev"> View more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-md-0 mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-glass-martini deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">IT Solutions</h5>
          <p class="grey-text mb-md-0">.</p>
          <a button="click" routerLink="/itsolution"> View more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 text-center">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="far fa-2x fa-heart deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Electronic Security System</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
            <a button="click" routerLink="/security"> View more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-bolt deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Rapid</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam, aperiam minima assumenda deleniti hic.</p>
            <a button="click" routerLink="/automation"> View more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-2">
          <i class="fas fa-2x fa-magic deep-purple-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-10">
          <h5 class="font-weight-bold mb-3">Magical</h5>
          <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
            maiores nam, aperiam minima assumenda deleniti hic.</p>
            <a button="click" routerLink="/alarm"> View more</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.4 -->



<br /><br />




